<?xml version="1.0"?>
<configuration>
    <appSettings/>
    <connectionStrings>
        <add name="aspnetdbConnectionString" connectionString="Server=localhost\SQLEXPRESS;Database=aspnetdb;User ID=aspnet;Password=aspnet123;"/>
    </connectionStrings>
    <system.web>
        <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
        <compilation debug="true">
        </compilation>
        <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
        <authentication mode="Forms">
            <forms name=".ASPXAUTH" loginUrl="Default.aspx"
			    defaultUrl="secure/Security.aspx" protection="All"
			    timeout="30" path="/" requireSSL="false"
			    slidingExpiration="true" cookieless="UseDeviceProfile"
			    domain="" enableCrossAppRedirects="false">
                <credentials passwordFormat="SHA1"/>
            </forms>
        </authentication>
        <authorization>
            <deny users="?"/>
            <allow users="*"/>
        </authorization>
        <machineKey
            validationKey="5933D311CFFD3169B7F04DA4F49FE0F6208EA9AB6D02635D6444697688FAD85CB65D2CE51E72CF2918AB4520DCF01CEEE34B11A248E90A182F1525DCF665ED77"
            decryptionKey="AA587A0997BB1C15AA1504DFCC9ABDC654F0D287B7916258591A2D575F0A82AD"
            validation="SHA1" decryption="AES"
        />

        <membership defaultProvider="MySqlMembershipProvider">
            <providers>
                <clear/>
                <add name="MySqlMembershipProvider"
				    connectionStringName="aspnetdbConnectionString"
				    applicationName="SecuApp" minRequiredPasswordLength="3"
				    minRequiredNonalphanumericCharacters="0"
				    enablePasswordRetrieval="true" enablePasswordReset="true"
				    requiresQuestionAndAnswer="false" requiresUniqueEmail="true"
				    passwordFormat="Encrypted" maxInvalidPasswordAttempts="5"
				    passwordAttemptWindow="10"
				    type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
            </providers>
        </membership>
        <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
        <roleManager enabled="true" defaultProvider="SqlRoleManager">
            <providers>
                <add name="SqlRoleManager"
				    type="System.Web.Security.SqlRoleProvider"
				    connectionStringName="aspnetdbConnectionString"
				    applicationName="SecuApp"/>
            </providers>
        </roleManager>
    </system.web>
    <location path="secure">
        <system.web>
            <authorization>
                <allow roles="admin"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>
    <location path="Stylesheet1.css">
        <system.web>
            <authorization>
                <allow users="*"/>
            </authorization>
        </system.web>
    </location>
    <system.codedom>
    </system.codedom>
    <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
    <system.webServer>
    </system.webServer>
    <startup>
        <supportedRuntime version="v2.0.50727"/>
    </startup>
</configuration>
